html, body {
    background-color: #21232A;
    color: white;
    font-family: 'Helvetica Neue', Courier,Arial, Helvetica, sans-serif, monospace;
    font-size: 0.9rem;
    padding: 35px;
}

button{
    font-size: 1.3rem;
    margin-right: 10px;
    padding: 10px;
}