.contenido{
	display: grid;
	gap: 5rem;
}
@media (min-width: 768px){
	.contenido{
		grid-template-columns: 3fr 2fr;
	}
}
.carrito{
	padding: 3rem;
	background-color: aquamarine;
}
.resumen{
	background-color: #F9FAFB;
	padding: 3rem;
	border-radius: 2rem;
}