.curso{
	padding: 10rem 0;
	margin-top: 10rem;
	background-size: cover;
	background-position: center center;
}

@media (min-width: 768px){
	.curso-grid{
		display: grid;
		grid-template-columns: repeat(5,1fr);
	}
	.curso .contenido{
		grid-column: 3/6;
	}
}
.curso .texto{
	text-align: center;
	font-size: 2rem;
	color: var(--white);
}